* {
  font-family: "Roboto", sans-serif;
}

html,
body {
  height: 100%;
  background-color:hsl(21, 58%, 95%);
}
.is-fluid {
  background: rgb(21, 83, 107);
  background: linear-gradient(
    90deg,
    rgba(21, 83, 107, 1) 0%,
    rgba(65, 123, 163, 0.6474790599833684) 25%,
    rgba(0, 164, 255, 0.6670869031206232) 71%
  );
  color: rgba(245, 245, 245, 0.918);
}

.is-full {
  text-align: center;
}

.title_text {
  padding: 0.75rem;
  text-align: center;
  font-size: 2.5rem;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1),
    1px 1px 1px rgba(0, 0, 0, 0.5);
}
/* 
#movie_poster {
  margin-top: 5rem;
  margin-left: 10%;
} */

.searchbox {
  margin-top: 4rem;
  text-align: center;
}
input#search {
  font-size: 1.25rem;
  font-weight: 600;
  height: 3rem;
  width: 16rem;
  padding-left: 0.5rem;
}
input[type="text"] {
  border: none;
  height: 3rem;
  width: 16rem;
}
.searchbox button {
  height: 2.5rem;
  width: 5.5rem;
  background: rgb(203, 114, 203);
  font-size: 20px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  color: white;
}
.searchbox button:hover {
  background: blue;
  color: white;
}

.gifSect {
  padding-top: 2rem;
}

